@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');
*{
	padding: 0;
	margin: 0;
	text-decoration: none;
}
body{
	margin: 0;
	height: 100%;
	background-image: url('/Image/image.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}
hr{
	position: absolute;
	top: 0;
	margin-top: 100px;
	width: 99.8%;
	opacity: 0.1
}
#btn-start{
	padding:10px;
	font-size: 20px;
	background-color: transparent;
	border:3px solid #d9d9d9;
	color: #fff;
	font-family: poppins;
}
#btn-start:hover{
	color: #000;
	background-color: #fff;
}
#header-team-name{
	top: 0;
	left: 0;
	position: absolute;
	float: left;
	padding:30px;
	font-size: 40px;
	color: #fff;
	font-family: Poppins;
}
.nav{
	top: 0;
	right: 0;
	display: flex;
	position: absolute;
	float: right;
	padding:35px;

}
.nav-link a{
	color: #fff;
	font-family: raleway;
	font-size: 30px;
	padding: 20px;
}
.nav-link a:hover{
	color: #000;
	background-color: #fff;
}
#login-btn{
	padding: 10px;
	margin-left: 10px;
    border-radius: 20px;
    font-size: 23px;
    width: 170px;
    border:transparent;
    background-color: #fff;
    color: #000;
}
#login-btn:hover{
	background-color: #171717;
	color: #FFF;
}
.box{
	background-color: #FFFFFF;
	width: 550px;
	height: 450px;
	border:transparent;
	border-radius: 10px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
#login-text{
	text-align: center;
	margin: 10px;
	font-family: Raleway;
	color:#171717;
}
input{
	width: 400px;
	height: 60px;
	margin-left: 70px;
	margin-top: 15px;
	font-size: 20px;
	text-align: center;
}
input:hover{
	border:2px solid #171717;
}
#forgotpassword{
	margin-left: 70px;
	font-size: 25px;
}
#button{
	margin:40px 155px;
	width: 250px;
	height: 50px;
	font-size: 25px;
	border-radius: 20px;
	border:transparent;
	background-color: #171717;
	color: #ffff;
}
#button:hover{
	background-color: #242526;
}
#text-account{
	text-align: center;
	font-size: 28px;
}
a{
	color: #0000a0;
}
i{
	position: absolute;
	margin: 30px 80px;
	color: #242526;
}